$img-size: 288px;
@mixin define-icon-class($name, $x, $y) {
  &.#{$name} {
    background-position-x: calc($img-size * -1 * $x / 6);
    background-position-y: calc($img-size * -1 * $y / 6);
  }
}

.container {
  background-color: var(--secondary-color);
  padding: 10px;

  .title {
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    height: 48px;
    align-items: center;

    h3 {
      margin: 0;
      padding: 12px;
      flex: 1;
    }

    svg {
      width: 14px;
      height: 16px;
      margin-right: 10px;

      &.active {
        transform: rotate(180deg);
      }
    }

    span {
      width: calc($img-size / 6);
      height: calc($img-size / 6);
      background-size: $img-size $img-size;
      background-image: url("~src/assets/atlas-mastery-active-1.png");
      @include define-icon-class("AtlasPassiveMasteryMap",5,3);
      @include define-icon-class("AtlasPassiveMasteryJun",1,3);
      @include define-icon-class("AtlasPassiveMasteryStrongbox",5,4);
      @include define-icon-class("AtlasPassiveMasteryEssence",2,2);
      @include define-icon-class("AtlasPassiveMasteryBestiary",3,0);
      @include define-icon-class("AtlasPassiveMasteryMetamorph",0,4);
      @include define-icon-class("AtlasPassiveMasteryHarvest",5,2);
      @include define-icon-class("AtlasPassiveMasteryKirac",2,3);
      @include define-icon-class("AtlasPassiveMasteryBeyond",4,0);
      @include define-icon-class("AtlasPassiveMasteryBlight",5,0);
      @include define-icon-class("AtlasPassiveMasteryBreach",1,1);
      @include define-icon-class("AtlasPassiveMasteryDelve",5,1);
      @include define-icon-class("AtlasPassiveMasteryTorment",2,5);
      @include define-icon-class("AtlasPassiveMasteryDelirium",4,1);
      @include define-icon-class("AtlasPassiveMasteryLegion",4,3);
      @include define-icon-class("AtlasPassiveMasteryAbyss",0,0);
      @include define-icon-class("AtlasPassiveMasteryScarab",3,4);
      @include define-icon-class("AtlasPassiveMasteryVaal",4,5);
      @include define-icon-class("AtlasPassiveMasteryRitual",2,4);
      @include define-icon-class("AtlasPassiveMasteryDomination",0,2);
      @include define-icon-class("AtlasPassiveMasteryTangle",1,5);
      @include define-icon-class("AtlasPassiveMasteryAlva",1,0);
      @include define-icon-class("AtlasPassiveMasteryExpedition",3,2);
      @include define-icon-class("AtlasPassiveMasteryHeist",0,3);
      @include define-icon-class("AtlasPassiveMasteryBoss",0,1);
      @include define-icon-class("AtlasPassiveMasteryLabyrinth",3,3);
      @include define-icon-class("AtlasPassiveMasteryRare",1,4);
      @include define-icon-class("AtlasPassiveMasteryHarbinger",4,2);
      @include define-icon-class("AtlasPassiveMasteryCleansingFire",2,1);
      @include define-icon-class("AtlasPassiveMasteryConqueror",3,1);
      @include define-icon-class("AtlasPassiveMasteryElderShaper",1,2);
      @include define-icon-class("AtlasPassiveMasterySynthesis",0,5);
      @include define-icon-class("AtlasPassiveMasterySextant",4,4);
      @include define-icon-class("AtlasPassiveMasteryAnarchy",2,0);
      @include define-icon-class("AtlasPassiveMasteryUnique",3,5);
    }
  }
}