/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #181818;
  --secondary-color: #202020;
  --text-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}